<app-menu></app-menu>
<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-6">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Curriculum</h2>
      <div class="my-8 xl:mb-16 xl:mt-12">
      </div>
      <div class="mx-auto max-w-2xl space-y-6">
        <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">The iMac "M1" 8-Core CPU/8-Core GPU/4 USB-C Shaped Ports (2021) model features a 5-nm Apple M1 processor with 8 cores (4 performance cores and 4 efficiency cores), an 8-core GPU, a 16-core Neural Engine, 8 GB of onboard RAM, and a 1 TB onboard SSD.</p> -->

        <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          This all is housed in a wafer thin aluminum case with flat edges that includes a 23.5" 4480x2520, 218 PPI, LED-backlit, "True Tone" widescreen "Retina 4.5K" display mounted on a svelte aluminum stand. This specific model is offered in the a two-tone Blue color. It also has an integrated 1080p FaceTime HD camera, a "studio-quality three-mic array" and a "high-fidelity six-speaker system" that supports Spatial Audio with Dolby Atmos.
        </p> -->

        <p class="text-base font-semibold text-gray-900 dark:text-white">Información:</p>
        <p class="font-semibold text-gray-900 dark:text-white">
          No busco una empresa que me asegure un salario para siempre, sino la oportunidad de demostrar al
          mundo que los jóvenes podemos crecer profesionalmente y aportar todo nuestro talento a las
          empresas que confían en nosotros.
        </p>
        <p class="font-semibold text-gray-900 dark:text-white">
          Soy un desarrollador de software con experiencia en PHP y el framework Laravel. Durante mi tiempo
          como programador, he trabajado tanto en el front-end como en el back-end, participando en todas las
          etapas del ciclo de desarrollo. Mi objetivo es aprender y desarrollarme profesionalmente, por lo que
          busco entornos donde pueda demostrar mis habilidades y seguir creciendo.
        </p>

        <p class="font-semibold text-gray-900 dark:text-white">
          Soy egresado con conocimientos en desarrollo de software, bases de datos y lenguajes de
          programación. Me caracterizo por mi orientación al logro, capacidad de análisis, dinamismo,
          compromiso y proactividad. Estas habilidades me permiten adaptarme a diferentes entornos de
          trabajo y colaborar efectivamente con mis colegas.
        </p>

        <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
        <p class="text-base font-semibold text-gray-900 dark:text-white mb-5">Experiencia laboral:</p>
          <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
              <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">

                  <section class="not-format">
                      <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                          <footer class="flex justify-between items-center mb-2">
                              <div class="flex items-center">
                                  <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                          title="March 12th, 2022">Agosto 03 del 2022 - Marzo 31 del 2024 <span class="text-red-500">Full Stack</span>                                        </time></p>
                              </div>
                          </footer>
                          <p class="font-semibold text-gray-900 dark:text-white">
                            Como desarrollador web full stack especializado en Laravel y Livewire, lideré el desarrollo de
                            varios proyectos, incluyendo la migración de sistemas heredados a una arquitectura
                            monolítica moderna basada en Laravel.
                          </p>
                          <div class="flex items-center mt-4 space-x-4">
                            <button type="button" class="flex items-center font-medium text-sm text-gray-500 hover:underline dark:text-gray-400">
                                <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                                </svg>
                                Vibra
                            </button>
                        </div>
                      </article>

                      <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                        title="March 12th, 2022">Abril 01 del 2022 - Julio 30 del 2022 <span class="text-red-500">Back-End</span>                                        </time></p>
                            </div>
                        </footer>
                        <p class="font-semibold text-gray-900 dark:text-white">
                          Desarrollador back-end usando Laravel v10, API Rest.
                        </p>
                        <div class="flex items-center mt-4 space-x-4">
                          <button type="button" class="flex items-center font-medium text-sm text-gray-500 hover:underline dark:text-gray-400">
                              <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                  <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                              </svg>
                              PhenomenalB2B
                          </button>
                      </div>
                    </article>

                    <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                      <footer class="flex justify-between items-center mb-2">
                          <div class="flex items-center">
                              <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                      title="March 12th, 2022">Marzo 01 del 2022 - Abril 30 del 2022 <span class="text-red-500">Operario de limpieza</span>                                        </time></p>
                          </div>
                      </footer>
                      <p class="font-semibold text-gray-900 dark:text-white">
                        Encargado de la area de oficinas del colegio ""
                      </p>
                      <div class="flex items-center mt-4 space-x-4">
                        <button type="button" class="flex items-center font-medium text-sm text-gray-500 hover:underline dark:text-gray-400">
                            <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                            </svg>
                            Euro Digital Clean S.A.C
                        </button>
                    </div>
                  </article>

                  <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                    title="March 12th, 2022">Enero 01 del 2022 - Febrero 28 del 2022 <span class="text-red-500">Agente de atención al cliente</span>                                        </time></p>
                        </div>
                    </footer>
                    <p class="font-semibold text-gray-900 dark:text-white">
                      Como especialista en atención al cliente para Entel Postpago, lideré la resolución efectiva de
                      problemas e incidencias para garantizar la satisfacción del cliente y la retención.
                    </p>
                    <div class="flex items-center mt-4 space-x-4">
                      <button type="button" class="flex items-center font-medium text-sm text-gray-500 hover:underline dark:text-gray-400">
                          <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                              <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                          </svg>
                          Entel Postpago
                      </button>
                  </div>
                </article>

                <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                  <footer class="flex justify-between items-center mb-2">
                      <div class="flex items-center">
                          <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                  title="March 12th, 2022">Setiembre 05 del 2021 - Diciembre 31 del 2021 <span class="text-red-500">Reponedor</span>                                        </time></p>
                      </div>
                  </footer>
                  <p class="font-semibold text-gray-900 dark:text-white">
                    Como operario de distribución de góndolas, atención y ayuda al cliente.
                  </p>
                  <div class="flex items-center mt-4 space-x-4">
                    <button type="button" class="flex items-center font-medium text-sm text-gray-500 hover:underline dark:text-gray-400">
                        <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                        </svg>
                        Tottus, Mall de sur
                    </button>
                </div>
              </article>

              <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-03-12"
                                title="March 12th, 2022">Junio 01 del 2021 - Agosto 15 del 2021 <span class="text-red-500">Almacen</span>                                        </time></p>
                    </div>
                </footer>
                <p class="font-semibold text-gray-900 dark:text-white">
                  Control de inventario de textilería.
                </p>
                <div class="flex items-center mt-4 space-x-4">
                  <button type="button" class="flex items-center font-medium text-sm text-gray-500 hover:underline dark:text-gray-400">
                      <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                      </svg>
                      Ripley
                  </button>
              </div>
            </article>

                  </section>
              </article>
          </div>
        </main>
      </div>




